.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Manrope', sans-serif;
  color: #222;
}

.main {
  flex: 1;
  display: block;
  max-width: auto;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* Slim Scrollbar - Main content */
.main::-webkit-scrollbar {
  width: 6px;
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(15, 36, 40, 0.600);
  border-radius: 3px;
}

.header,
.footer {
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
